* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  .header {
    width: 100%;
    height: 50px;
    background-color: #ff9a4b;

  }


  .main {
  width: auto;
  margin: 0 auto;
  display: flex;

}

  .step-box {
    width: 90%;
    height: 100%;
    margin: 20px;
    padding: 0px;
    position: relative;
    display: inline-block;
  }

   #step1  {
    margin: 50px 30px 20px 30px;
    background-color: #eee;
   }

   .step-img1 {
    background-image: url(img/flow01.png);
    text-align: center;
    color: #ffffff;
    background-position: bottom;
    background-size: cover;
    height: 150px;
    margin: 10px;
   }


   #step2  {
    background-color: #eee;
    background-size: contain;
    margin: 20px 30px 20px 30px;
   }


  .step-img2{
    background-image: url(img/flow02.png);
    text-align: center;
    color: #ffffff;
    height: 150px;
    background-position: bottom;
    background-size: cover;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}


   #step3  {
    margin: 20px 30px 50px 30px;
    background-size: contain;
    background-color: #eee;
   }


  .step-img3 {
    background-image: url(img/flow03.png);
    text-align: center;
    color: #ffffff;
    height: 150px;
    background-position: bottom;
    background-size: cover;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
  }

   .step-num {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff9a4b;
    color: #fff;
  }

  .title {
    margin: 15px 10px 5px;
  }

  .text {
  margin: 10px;
  }

  footer {
    width: 100%;
    height: 50px;
    background-color:  #aaa;
  }

  @media screen and (min-width: 769px) {
    .set-text-imeges {
      display: flex;
      justify-content: space-between;
    }


.main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  margin-right: 50px;
  height: 100%;
  margin: 20px;
  position: relative;
  display: inline-block;
}


   #step1  {
     margin: 50px 0px 50px 100px;
   }

   #step2 {
     margin: 50px 30px 50px 30px;
   }

   #step3  {
     margin: 50px 100px 50px 0px;
   }
   
  }